/*import Play font from Google fonts*/
@import url(https://fonts.googleapis.com/css?family=Play:400,700);

.sidebar-title {
  color: #F7F7F7;
  text-shadow: 2px 2px 8px #2C2828;
}

ul.social-links li {
  list-style: none;
}